<div class="container" *ngIf="kitten">
    <div class="row">
        <div  class="center">
            <div class="card horizontal">
                <div class="card-image">
    <a [routerLink]="['cat', kitten.id]"><img class="responsive-ing" src={{kitten.urlImage}}  /></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p style="font-size: 3rem">Nom: <span>{{kitten.name}}</span></p>
                        <p style="font-size: 1.5rem">Race: <span>{{kitten.race}}</span></p>
                        <p>Couleur: <span>{{kitten.color}}</span></p>
                        <p>Genre : {{kitten.sex}}</p>
                        <p style="height: 3rem">Age: <span>{{kitten.age  + " ans"}}</span></p>
                        <a [routerLink]="['/update',kitten.id]"><button  class="btn" type="button">Modifier</button></a>
                        <button (click)="onAdopted(kitten.id)" class="red btn" type="button">Adopter</button>
                        <button (click)="onDelete(kitten.id)" class="black btn" type="button">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
